@mixin hook-base-body() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  text-rendering: optimizeLegibility;
  &::-webkit-scrollbar {
    display: none;
  }
}
