// Custom variables for the theme
// Rounded corners
$tm-border-radius-xsmall: 2px;
$tm-border-radius-small: 4px;
$tm-border-radius-default: 7px;
$tm-border-radius-large: 14px;
$tm-border-radius-xlarge: 20px;

// Rounded corners for the button
$tm-button-border-radius-default: 500px;

// UIkit variable overrides
@import 'variables/import';
